@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">SERWIS INFORMACYJNY DLA MIŁOŚNIKÓW KOSZYKÓWKI</h1>
</div>


<div class=".left-aligned-container">
    <div class="card mt-3">
        <div class="card-body">
            <h2 class="card-title">Witaj w świecie koszykówki!</h2>
            <p class="card-text">Witaj w świecie, gdzie każdy skok, każdy rzut i każda akcja na parkiecie ma swoją historię. Nasz serwis to nie tylko portal – to wehikuł czasu dla każdego fana koszykówki, który chce nie tylko śledzić aktualne wydarzenia NBA, ale również zanurzyć się w bogatej historii tego sportu. Tutaj znajdziesz nie tylko najświeższe informacje o Twoich ulubionych drużynach i zawodnikach, ale również zagłębisz się w epickie momenty przeszłości, które ukształtowały dzisiejszą koszykówkę.</p>
            <p class="card-text">Odkryj dane o legendarnych drużynach i ikonach NBA, które na zawsze zapisały się w annałach historii. Śledź, jak ewoluowały kariery Twoich ulubionych graczy, od pierwszych kroków na parkiecie, po wielkie triumfy i niekiedy, nieuniknione pożegnania ze światem sportu. Nasz serwis to hołd dla historii koszykówki, miejsce, gdzie każdy fan może znaleźć coś dla siebie – od statystyk, przez opisy kariery, po unikatowe anegdoty, które sprawią, że Twoje serce fanatyka zabić może szybciej.</p>
            <p class="card-text">Witamy w miejscu, gdzie pasja do koszykówki łączy pokolenia. Zapraszamy do eksploracji!</p>
        </div>
    </div>
</div>
