@section Styles {
    <link rel="icon" type="image/png" href="~/images/mini-bal-48.png">
    <link rel="stylesheet" href="~/css/index.css" />
}


@{
    ViewData["Title"] = "Home Page";
}

<head>
    <style>
        #koszykowka{
            font-size: 56px;
            font-weight: 300;
            line-height: 1.2;
            margin-left: 10px;
            margin-right:10px;
        }
    </style>
</head>

<div class="text-center">
    <h1 class="display-4">SERWIS INFORMACYJNY DLA MIŁOŚNIKÓW </h1>
    <div style="display: flex; justify-content: center; align-items: center;">
        <img src="~/images/mini-bal-48.png" alt="mała piłka do kosza" style="width: 48px; height: 48px;">
       <h1 id="koszykowka"> KOSZYKÓWKI </h1>
        <img src="~/images/mini-bal-48.png" alt="mała piłka do kosza" style="width: 48px; height: 48px;"></h1>
    </div>
</div>


<div class=".left-aligned-container">
    <div class="card mt-3">
        <div class="card-body">
            <h2 class="card-title">Witaj w świecie koszykówki!</h2>
            <p class="card-text">Witaj w świecie, gdzie każdy skok, każdy rzut i każda akcja na parkiecie ma swoją historię. Nasz serwis to nie tylko portal – to wehikuł czasu dla każdego fana koszykówki, który chce nie tylko śledzić aktualne wydarzenia NBA, ale również zanurzyć się w bogatej historii tego sportu. Tutaj znajdziesz nie tylko najświeższe informacje o Twoich ulubionych drużynach i zawodnikach, ale również zagłębisz się w epickie momenty przeszłości, które ukształtowały dzisiejszą koszykówkę.</p>
            <p class="card-text">Odkryj dane o legendarnych drużynach i ikonach NBA, które na zawsze zapisały się w annałach historii. Śledź, jak ewoluowały kariery Twoich ulubionych graczy, od pierwszych kroków na parkiecie, po wielkie triumfy i niekiedy, nieuniknione pożegnania ze światem sportu. Nasz serwis to hołd dla historii koszykówki, miejsce, gdzie każdy fan może znaleźć coś dla siebie – od statystyk, przez opisy kariery, po unikatowe anegdoty, które sprawią, że Twoje serce fanatyka zabić może szybciej.</p>
            <p class="card-text">Witamy w miejscu, gdzie pasja do koszykówki łączy pokolenia. Zapraszamy do eksploracji!</p>
        </div>
    </div>
</div>
