@section Styles {
    <link rel="stylesheet" href="~/css/choose-team-styles.css" />
}

<div class="container mt-5">
    <h1>Wybierz rodzaj drużyn</h1>
    <div class="row">
        <div class="col-md-6">
            <div class="card" style="cursor:pointer;" onclick="location.href='@Url.Action("CurrentTeams", "Teams")'">
                <div class="card-body">
                    <h5 class="card-title">Aktualne drużyny</h5>
                    <p class="card-text">Poznaj aktualne drużyny i ich składy.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card" style="cursor:pointer;" onclick="location.href='@Url.Action("HistoricalTeams", "Teams")'">
                <div class="card-body">
                    <h5 class="card-title">Historyczne drużyny</h5>
                    <p class="card-text">Odkryj historię i legendy koszykówki.</p>
                </div>
            </div>
        </div>
    </div>
</div>
