@model IEnumerable<BasketApp.Domain.Entities.CurrentCoaches>

@section Styles {
    <link rel="stylesheet" href="~/css/coach-styles.css" />
    <link rel="icon" type="image/png" href="~/images/coach-78.png">
}
<div style="display: flex; justify-content: center; align-items: center;">

<h2>Lista Trenerów</h2>
<img src="~/images/coach-78.png" alt="Trener" style="width: 72px; height: 72px;">
</div>

<table class="coach-table">
    <thead>
        <tr>
            <th>Imie i Nazwisko</th>
            <th>Drużyna</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var coach in Model)
        {
            <tr>
                <td>@coach.Name</td>
                <td>@coach.Team.TeamName</td>
            </tr>
        }
    </tbody>
</table>
